.image{
     height:40em;  width:auto;
     
  		background-size: cover;
     background-image:url('https://images.pexels.com/photos/2147486/pexels-photo-2147486.jpeg?cs=srgb&dl=aircraft-airplane-airplane-wing-2147486.jpg&fm=jpg');
     background-position:40% 50%;
   }